name: Trigger Vercel Cron
on:
    schedule:
        - cron: '0 6 * * *' # 每天东八区下午2点（UTC早上6点）
jobs:
    ping:
        runs-on: ubuntu-latest
        steps:
            - name: Call Vercel API
              run: |
                  curl -X GET https://awesome-fund.vercel.app/api/cron
